body{
    background: url(./images/bgm_login_signin.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: none;
}

#text{

    height: 25px;
    border-radius: 5px;
    padding: 4px;
    border: solid thin #aaa;
    width: 225px;
}
.text
{
    font-size: 20px;
    color:  rgb(19, 158, 165);
}
#button
{
    padding: 10px;
    border-radius: 10px;
    width: 110px;
    font-size: 18px;
    transition-duration: 0.3s;
    cursor: pointer;
}
#button:hover 
{
    background-color: #1396ed;
    color: white;
    font: bold; 
}
.heading
{
    color:rgb(19, 158, 165);
    font-size: 30px;
    margin-bottom: 10px;
    font-size: 30px;
}

#box
{
    margin-left: 39%;
    margin-top: 5%;
    box-shadow: 50ox;
    border-color: rgb(19, 158, 165);
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    background-image: url(./images/BGM_BGM.jpg);
}